<!DOCTYPE html>
<body>
<button class="formify" data-form="/admin/forms/users">Add User</button>
<div id="user-table">

</div>
{#<table>#}
    {#<thead>#}
    {#<tr>#}
        {#<th>Username</th>#}
        {#<th>Email</th>#}
        {#<th>Is Admin</th>#}
        {#<th></th>#}
    {#</tr>#}
    {#</thead>#}
    {#<tbody>#}
    {#{% for user in results.users %}#}
        {#<tr>#}
            {#<td>{{ user.username }}</td>#}
            {#<td>{{ user.email }}</td>#}
            {#<td>{% if user.isAdmin %}Yes{% else %}No{% endif %}</td>#}
            {#<td>#}
                {#<button class="formify"#}
                        {#data-id="{{ user.id }}"#}
                        {#data-form="/admin/forms/users">Edit User</button>#}
            {#</td>#}
        {#</tr>#}
    {#{% endfor %}#}
    {#</tbody>#}
{#</table>#}
<div id="theform">

</div>
<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script>
    $('document').ready(function(){
        $.ajax({
            url: '/admin/data/users',
            type: 'GET',
            cache: false,
            contentType: false,
            processData: false
        })
        .done(function (data) {
            //take users and draw table
        });
        $('body').on('click','button.formify', function(e){
           e.preventDefault();
           var id = $(this).data('id');
           var data = {
               id: id,
               formPath: $(this).data('form')
           };
           $.ajax({
               url: $(this).data('form'),
               type: 'POST',
               data: data,
               dataType: 'html',
               success: function (html) {
                   $('#theform').html(html);
               }
           });
        });

        $("body").on('submit', 'form', function (e) {
            e.preventDefault();
            var form_data = new FormData();
            var data = $(this).serializeArray();
            $.each(data, function (key, input) {
                form_data.append(input.name, input.value);
            });
            console.log(form_data);

            $.ajax({
                url: $(this).attr('action'),
                data: form_data,
                type: 'POST',
                cache: false,
                contentType: false,
                processData: false
            })
            .done(function (data) {
                hideOverlay();
                if (typeof data.message !== 'undefined') {
                    $('#global-form-modal').modal('hide');
                    location.reload(true);
                    // alert(data.message);
                } else {
                    $('#global-form-modal ').find('.modal-body').html(data);
                }
            })
            .fail(function (jqXHR, textStatus, errorThrown) {
                hideOverlay();
                console.log('fail');
                if (typeof jqXHR.responseJSON !== 'undefined') {
                    if (jqXHR.responseJSON.hasOwnProperty('form')) {
                        $('#global-form-modal').find('.modal-body').html(jqXHR.responseJSON.form);
                    }
                    $('.form_error').html(jqXHR.responseJSON.message);
                } else {
                    alert(errorThrown);
                }
            });
        });


    });
</script>
</body>
