.app-logo {
  background-image: url('/assets/menu/imgs/logo.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  margin-right: 30px;
  position: absolute;
  top: -23px;
  width: 100px;
}
