@import '../../custom-colors';
@import '../../flat-ui-colors';
@import '../../bool_checkbox';
@import '../../../node_modules/compass-mixins/lib/compass';

@mixin btn-content($fontsize, $fontweight: 600) {
  color: $flat-clouds;
  font-size: $fontsize;
  font-weight: $fontsize;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.user-buttons {
  margin: 20px 0;
}

.fa {
  color: $black-text;

  &.true {
    color: $flat-nephritis;
  }

  &.false {
    color: $flat-pomegranate;
  }
}

.icon {
  box-shadow: none;
  cursor: pointer;
  height: auto;
  width: 25px;
}

.plus-btn {
  @include border-radius(100%);
  @include transition(
    border-radius .2s ease-in,
    width .2s ease-in
  );
  background-color: $flat-emerald;
  cursor: pointer;
  height: 50px;
  position: relative;
  text-decoration: none;
  width: 50px;

  .align {
    @include btn-content(28px);
  }

  &:hover,
  &:focus {
    @include border-radius(0%);
    width: 100px;

    .align {
      display: none;
    }

    &::after {
      @include btn-content(18px, 400);
      content: 'Add';
    }

  }

}

.checkbox-edit {
  width: 60%;
}

.editing {
  background-color: rgba($flat-gray-2, .2);
}

// scss-lint:disable QualifyingElement
input[type=checkbox] {

  &::after {
    width: 50px;
  }

}
// scss-lint:enable QualifyingElement


.user-card {
  @include border-radius(5px);
  border: 1px solid $flat-gray-2;
  margin: 15px 0;
  position: relative;

  .col-lg-3,
  .col-lg-4 {
    border-bottom: 0;
    border-right: 1px dashed rgba($flat-gray-2, .5);

    &:last-child {
      border-right: 0;
    }
  }

  .tools {

    .option {
      padding: 5px 0;
    }

    .edit {
      // background-color: rgba($flat-nephritis, .2);
    }

    .fa-ban {
      color: rgba($flat-red-2, .6);
    }

  }

  .small-tools {

    .option {
      margin: 5px 0;
    }

    .edit,
    .stop,
    .ban {
      font-size: 12px;
    }

  }

  .tools-intermediary {
    display: none;
  }

  .avatar-frame {
    height: 120px;
    margin: 30px 10px 10px;
    max-width: 100%;
    min-width: 120px;
    width: 120px;

    .user-avatar {
      background-image: url('/assets/common/imgs/default-avatar.svg');
      background-repeat: no-repeat;
      background-size: cover;
      cursor: pointer;
      height: 100px;
      margin: auto;
      width: 100px;
    }
  }

  .input-label {
    font-weight: 600;
    min-width: 100px;
  }

  .input-data {
    display: inline-block;
  }

  .subtitle {
    color: $bootstrap-blue;
    font-weight: 600;
    margin: 10px auto;
  }

  .basic-info {
    margin: 10px 0;
    min-width: 150px;

    &.check {
      margin: 15px 0 0;
    }

    &.activity {
      margin: 20px 0;
    }
  }

  .update-btn {
    cursor: pointer;
    left: 55px;
    position: absolute;
    top: 170px;
    width: 120px;
    z-index: 100;
  }

  .update-btn-2 {
    cursor: pointer;
    display: none;
    position: absolute;
    width: 120px;
    z-index: 100;
  }

  @media(max-width: 1199px){
    .update-btn {
      left: 25px;
    }

    .tools-intermediary {
      display: block;

      .option {
        position: absolute;
        z-index: 100;
      }

      .id {
        left: 10px;
        top: 5px;
      }

      .edit,
      .stop {
        left: 35px;
        top: 5px;
      }

      .ban {
        left: 55px;
        top: 5px;
      }
    }
  }

  @media(max-width: 991px){

    margin: 40px 0;

    .col-lg-2,
    .col-lg-3,
    .col-lg-4 {
      border-bottom: 1px dashed rgba($flat-gray-2, .5);
      border-right: 0;

      &:first-child,
      &:last-child {
        border-bottom: 0;
      }
    }

    .col-lg-2 {
      min-height: 150px;
      position: relative;
    }

    .info-holder {
      margin: -35px 0 0;
    }

    .tools-intermediary {
      display: none;
    }

    .avatar-frame {
      left: 0;
      margin: 0 auto;
      position: absolute;
      right: 0;
      top: -165px;
    }

    .update-btn {
      left: 0;
      margin: auto;
      right: 0;
      top: 130px;
    }

    &.edit {
      padding-bottom: 100px;

      .info-holder {
        margin: 35px 0 0;
      }

      .update-btn-2 {
        bottom: 30px;
        display: block;
        left: 0;
        margin: auto;
        right: 0;
      }
    }

  }

}
