<div class="container">
  <div class="row">
    <div class="col-md-12 text-header">
      <h1>Users</h1>
    </div>
  </div>
</div>

<div class="container" [(class.hide)]="!show.addbtn">
  <div class="row">
    <div class="col-md-4 user-buttons">
      <div class="plus-btn" (click)="go('add')">
        <span class="align">+</span>
      </div>
    </div>
    <div class="col-md-4 user-buttons"></div>
    <div class="col-md-4 user-buttons"></div>
  </div>
</div>

<router-outlet></router-outlet>

<div class="container" id="user-list">

    <!-- User card -->
    <ng-container *ngFor="let user of users | async;
    let i=index; trackBy:trackByIndex">

      <div class="user-card row" id="user-card-{{i + 1}}">

        <!-- Primary save edits button -->
        <button class="btn btn-success update-btn clickable hide"
        type="button" (click)="save(user)">Update</button>

        <!-- Secondary edits button -->
        <button class="btn btn-success update-btn-2 clickable"
        type="button" (click)="save(user)">Update</button>

        <!-- Avatar and tool vertical bar -->
        <div class="col-lg-2">

          <div class="row">

            <div class="col-lg-2">

              <div class="small-tools hidden-lg-up">
                <div class="option id">
                    #{{ user?.id }}
                </div>

                <div class="option edit">
                  <i class="fa fa-pencil fa-2x clickable" aria-hidden="true"
                    (click)="edit(user.id)"></i>
                </div>

                <div class="option stop hide">
                  <i class="fa fa-close fa-2x clickable" aria-hidden="true"
                    (click)="stop(user.id)"></i>
                </div>

                <div class="option ban">
                  <i class="fa fa-ban fa-2x clickable" aria-hidden="true"
                    (click)="ban(user)"></i>
                </div>
              </div>

              <div class="tools-intermediary">
                <div class="option id">
                    #{{ user?.id }}
                </div>

                <div class="option edit">
                  <i class="fa fa-pencil clickable" aria-hidden="true"
                    (click)="edit(user.id)"></i>
                </div>

                <div class="option stop hide">
                  <i class="fa fa-close clickable" aria-hidden="true"
                    (click)="stop(user.id)"></i>
                </div>

                <div class="option ban">
                  <i class="fa fa-ban clickable" aria-hidden="true"
                    (click)="ban(user)"></i>
                </div>
              </div>

              <div class="tools text-center hidden-lg-down">

                <div class="option id">
                    #{{ user?.id }}
                </div>

                <div class="option edit">
                  <i class="fa fa-pencil fa-2x clickable" aria-hidden="true"
                    (click)="edit(user.id)"></i>
                </div>

                <div class="option stop hide">
                  <i class="fa fa-close fa-2x clickable" aria-hidden="true"
                    (click)="stop(user.id)"></i>
                </div>

                <div class="option ban">
                  <i class="fa fa-ban fa-2x clickable" aria-hidden="true"
                    (click)="ban(user)"></i>
                </div>
              </div>
            </div>

            <div class="col-lg-10">

              <div class="avatar-frame img-thumbnail img-fluid"
              data-toggle="modal" data-target="#avatar-modal">
                <div class="user-avatar"
                  [style.background-image]="user.avatarUrl ?
                  'url(' + user.avatarUrl + ')' : defaultAvatar">
                </div>
              </div>
            </div>

          </div>
        </div>

        <!-- Basic Information -->
        <div class="col-lg-3 info-holder">

            <div class="row">
                <p class="subtitle">Basic Information</p>
            </div>

            <div class="row basic-info">
              <div class="input-label">
                Username:
              </div>
              <div class="display-data">
                {{ user?.username }}
              </div>
              <div class="input-data hide">
                <input type="text" [(ngModel)]="user.username"
                class="full-width">
              </div>
            </div>

            <div class="row basic-info">
              <div class="input-label">
                First Name:
              </div>
              <div class="display-data">
                {{ user?.firstName }}
              </div>
              <div class="input-data hide">
                <input type="text" [(ngModel)]="user.firstName"
                class="full-width">
              </div>
            </div>

            <div class="row basic-info">
              <div class="input-label">
                Last Name:
              </div>
              <div class="display-data">
                {{ user?.lastName }}
              </div>
              <div class="input-data hide">
                <input type="text" [(ngModel)]="user.lastName"
                class="full-width">
              </div>
            </div>

            <div class="row basic-info">
              <div class="input-label">
                Email:
              </div>
              <div class="display-data">
                {{ user?.email }}
              </div>
              <div class="input-data hide">
                <input type="text" [(ngModel)]="user.email"
                class="full-width">
              </div>
            </div>
        </div>

        <!-- Groups and Scrums -->
        <div class="col-lg-4">

          <div class="row">
              <p class="subtitle">Grouping</p>
          </div>

          <div class="row basic-info">
            <div class="input-label">
              Groups:
            </div>
            <div class="display-data"
              [innerHTML]="user?.userGroups | grouping: groups | list">
            </div>
            <div class="input-data hide">
              <select multiple class="form-control chosen-select"
                data-placeholder="Click to select options"
                name="groups">
                <option *ngFor="let item of (user?.userGroups | grouping: groups)"
                [attr.selected]="'selected'"
                [value]="item">{{ item }}</option>
              </select>
            </div>
          </div>

          <div class="row basic-info">
            <div class="input-label">
              Scrums:
            </div>
            <div class="display-data"
              [innerHTML]="user?.userScrums | grouping: scrums | list">
            </div>
            <div class="input-data hide">
              <select multiple class="form-control chosen-select"
                data-placeholder="Click to select options"
                name="scrums">
                <option *ngFor="let item of (user?.userScrums | grouping: scrums)"
                [attr.selected]="'selected'"
                [value]="item">{{ item }}</option>
              </select>
            </div>
          </div>
        </div>

        <!-- Advanced information -->
        <div class="col-lg-3">

          <div class="row">
              <p class="subtitle">Account</p>
          </div>

          <div class="row basic-info">
            <div class="input-label">
              Active:
            </div>
            <div class="display-data check">
              <i class="{{ user?.isActive | boolIcon }}"></i>
            </div>
            <div class="input-data hide">
              <input type="checkbox" [(ngModel)]="user.isActive"
              class="checkbox-edit">
            </div>
          </div>

          <div class="row basic-info check">
            <div class="input-label">
              Admin:
            </div>
            <div class="display-data">
              <i class="{{ user?.isAdmin | boolIcon }}"></i>
            </div>
            <div class="input-data hide">
              <input type="checkbox" [(ngModel)]="user.isAdmin"
              class="checkbox-edit">
            </div>
          </div>

          <div class="row basic-info activity">
            <div class="input-label">
              Last Activity:
            </div>
            <div class="display-data">
              {{ (user?.lastActivity?.date) ?
                 (user?.lastActivity?.date | date) : 'N/A' }}
            </div>
            <div class="input-data hide">
              <input type="text" class="full-width disabled"
              value="{{ (user?.lastActivity?.date) ?
                (user?.lastActivity?.date | date) : 'N/A' }}" disabled>
            </div>
          </div>

        </div>
      </div>
    </ng-container>

</div>

<!-- Avatar Upload Modal -->
<div class="modal fade" id="avatar-modal" tabindex="-1" role="dialog"
  aria-labelledby="avatarModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="avatarModalLabel">Upload Avatar</h5>
        <button type="button" class="close" data-dismiss="modal"
        aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <input type="file" (change)="uploadAvatar($event)"
      placeholder="Upload Avatar" accept=".png,.jpg,.jpeg">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger clickable" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
