<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Add a new user</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form>
        <div class="form-group" *ngFor="let field of fields | async">
          <ng-container *ngIf="field.name &&
            (field.name !== 'action') &&
            (field.type !== 'entity') &&
            (field.type !== 'file')">

            <label for="{{field.name}}">{{field?.attributes?.label}}</label>
            <input class="form-control
            {{field?.attributes?.options?.attr?.class}}"
               type="{{field.type}}"
               name="{{field.name}}"
               [attr.value]="field?.value"
               [attr.required]="field.required ? true : null"
               [attr.disabled]="field.disabled ? true : null"
               [attr.maxlength]="field?.attributes?.attr?.maxlength ?
               field.attributes.attr.maxlength : null">

          </ng-container>
          <ng-container *ngIf="(field.type === 'entity')">

            <label for="{{field.name}}">{{field?.attributes?.label}}</label>
            <select multiple class="form-control chosen-select
            {{field?.attributes?.options?.attr?.class}}"
              data-placeholder="Click to select options"
              name="{{field.name}}"
              [attr.value]="field?.value"
              [attr.required]="field.required ? true : null"
              [attr.disabled]="field.disabled ? true : null">
              <option *ngFor="let item of field?.choices"
              [attr.selected]="(item?.attributes?.data.includes(
              Number(item.value))) ? 'selected' : null"
              [value]="item.value">{{item.label}}</option>
            </select>

          </ng-container>
        </div>

        <button type="submit"
                class="btn btn-primary btn-lg btn-block"
                (click)="add(user)">
                Add
        </button>
        <p>{{params?.view}}</p>
      </form>
    </div>
  </div>
</div>
