@import '../../custom-colors';
@import '../../flat-ui-colors';
@import '../../../node_modules/compass-mixins/lib/compass';

@mixin icon($color: $flat-midnight-blue) {
  color: rgba($color, .5);

  &:hover {
    color: $color;
  }
}

.add-group-form {
  margin: 20px;
}

.item-info {
  margin-left: auto;
  margin-top: 10px;
  padding-right: 15px;
}

.edit {
  @include icon();
  padding: 2px 0 0 15px;
}

.delete {
  @include icon();
  margin: 7px 0 0;
}

.add {
  @include border-corner-radius(top, left, 2px);
  @include border-corner-radius(bottom, right, 10px);
  background-color: $flat-nephritis;
  color: $flat-clouds;
  font-size: 20px;
  left: -10px;
  margin: 10px;
  padding: 5px 15px;
  position: absolute;
  top: -10px;

  &:hover {
    background-color: shade($flat-nephritis, 20);
  }
}

.input-data,
.display-data {
  margin: 0 0 5px 60px;
}

.group-data {
  margin: 20px 0 10px 70px;
}

.add-user {
  margin: -12px 0 0 30px;
}

// jQuery hosen class overwrites
.chose-container-multi,
.chosen-search-input {
  height: 50px;
}
