<div class="container">

  <div class="row">
    <div class="col-md-12 text-header">
      <h1>Groups</h1>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-6">
      <form class="add-group-form">
        <div class="form-group">
          <label for="add_group">Add Group: </label>
          <input [(ngModel)]="addon" class="form-control" type="text" name="addon" maxlength="100" required>
        </div>

        <button type="submit" class="btn btn-primary btn-lg btn-block clickable" (click)="add(addon)">
                Add
        </button>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="list-group">

        <ng-container *ngFor="let group of groups | async;
          let i=index; trackBy:trackByIndex">
          <div class="group-card list-group-item flex-column align-items-start" id="group-card-{{i + 1}}">
            <div class="d-flex w-100 justify-content-between">

              <!-- Add user button -->
              <div class="option add clickable" aria-hidden="true" data-toggle="modal" data-target="#addUserModal" (click)="addUserModal(group)">
                <i class="fa fa-user-plus" aria-hidden="true"></i>
              </div>

              <!-- Group name -->
              <div class="md-1">
                <h5 class="display-data">{{ group?.name }}</h5>
                <div class="input-data hide">
                  <input type="text" [(ngModel)]="group.name" class="full-width">
                </div>
              </div>

              <!-- Edit button -->
              <div class="option edit clickable" (click)="edit(group.id)">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </div>

              <!-- Group info -->
              <small class="item-info">
                {{ group?.ticketUsers?.length }}
                user{{ group?.ticketUsers?.length > 1 ? 's' : ''}}
                <span class="hidden-xs-down">
                  - Group ID: {{ group?.id }}
                </span>
              </small>

              <!--Delete group button -->
              <div class="option delete clickable">
                <i class="fa fa-trash-o" aria-hidden="true" data-toggle="modal" data-target="#deleteGroupModal" (click)="delete(group)"></i>
              </div>
            </div>

            <!-- Users list -->
            <div class="group-data">
              <ul class="group-users">
                <ng-container *ngFor="let user of group?.ticketUsers">
                  <li>User ID: {{ user }} </li>
                </ng-container>

              </ul>
            </div>
          </div>
        </ng-container>

      </div>
    </div>
  </div>

</div>

<!-- Add User Modal --->
<div id="addUserModal" class="modal fade">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Add Users to {{ selectedGroup?.name}}
        </h5>
        <button type="button" class="close" data-dismiss="modal"
        aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Search for users to add to the {{ selectedGroup?.name}} group:
        </p>
        <select id="selectUsers" multiple class="form-control"
        data-placeholder="Click to select options" name="add_user">
          <ng-container *ngFor="let user of users">
            <option *ngIf="selectedGroup &&
              selectedGroup.ticketUsers.indexOf(user.id) === -1"
              [value]="user.id">
              {{user?.firstName}} {{user?.lastName}} ({{user?.username}}) -
              {{ user?.email }}
            </option>
          </ng-container>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success clickable"
        [disabled]="!confirmAdd" (click)="processUserAdd(selectedUsers)">
          Add {{ addUserBtnText }}
        </button>
        <button type="button" class="btn btn-secondary clickable" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Delete Modal --->
<div id="deleteGroupModal" class="modal fade">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          You are about to delete: "{{trash?.name}}"
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Are you sure you want to delete the group:
          <strong>"{{trash?.name}}"?</strong>
        </p>
        <div class="delete-info">
          <ul>
            <li>Group ID: {{trash?.id}}</li>
            <li>Members: {{ trash?.ticketUsers?.length }} user{{ trash?.ticketUsers?.length > 1 ? 's' : ''}}.</li>
          </ul>
        </div>
        <div class="form-group">
          <label for="confirm">Please type the group name below to confirm your deletion:</label>
          <input type="text" class="form-control" (keyup)="confirmDeletion($event)">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger clickable" [disabled]="!confirmDel" (click)="processGroupDel(trash)">
          Yes, delete forever
        </button>
        <button type="button" class="btn btn-secondary clickable" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
