@import '../../custom-colors';
@import '../../flat-ui-colors';
@import '../../../node_modules/compass-mixins/lib/compass';

.settings {
  margin-top: 10px;
}

.card {

  height: auto;
  margin-top: 25px;

  .icon {
    //background: none;
    @include border-radius(50px);

    box-shadow: none;
    height: auto;
    margin: 10px;
    padding: 10px;
    width: 100px;

    &.users {
      background-color: $flat-blue-1;
    }

    &.tickets {
      background-color: $flat-green-1;
    }

    &.scrums {
      background-color: $flat-purple-1;
    }

    &.groups {
      background-color: $flat-orange-1;
    }

    &.reports {
      background-color: $flat-blue-4;
    }

  }

  .badge-custom {
    font-size: .9rem;
  }

  .card-img-top {
    // @include background-size(cover);
    background-color: $light-bg-gray;
    // background-image: url('/assets/settings/imgs/laptop.jpg');
  }

  .card-divider {
    height: 5px;
    width: 100%;

    &.users {
      background-color: $flat-blue-1;
    }

    &.tickets {
      background-color: $flat-green-1;
    }

    &.scrums {
      background-color: $flat-purple-1;
    }

    &.groups {
      background-color: $flat-orange-1;
    }

    &.reports {
      background-color: $flat-blue-4;
    }
  }

  .card-explanation {
    font-size: .8rem;
  }

  .route-link {
    cursor: pointer;
  }

}
