<div class="settings">
<div class="container">
  <div class="row">

    <div class="col-md-4">
      <div class="card">
        <div class="text-center card-img-top">
          <object data="../../assets/settings/imgs/user-1.svg"
          class="responsive icon users"
          type="image/svg+xml">
          </object>
        </div>
        <div class="card-divider users"></div>
        <div class="card-block">
          <h4 class="card-title">Users</h4>
          <div class="card-text">
            <ul class="list-group">
              <li class="list-group-item justify-content-between route-link"
              (click)="view('users')">
                View
                <span class="badge-custom badge badge-info
                badge-pill">10</span>
              </li>
              <li class="list-group-item justify-content-between route-link"
              (click)="add('users')">
                Add
              </li>
              <li class="list-group-item justify-content-between route-link">
                Remove
              </li>
            </ul>
          </div>
      </div>
      <div class="card-explanation card-footer text-muted">
        Manage users and their permissions
      </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="text-center card-img-top">
          <object data="../../assets/settings/imgs/ticket.svg"
          class="responsive icon tickets"
          type="image/svg+xml">
          </object>
        </div>
        <div class="card-divider tickets"></div>
        <div class="card-block">
          <h4 class="card-title">Tickets</h4>
          <div class="card-text">
            <ul class="list-group">
              <li class="list-group-item justify-content-between route-link">
                View
                <span class="badge-custom badge badge-info
                badge-pill">538</span>
              </li>
              <li class="list-group-item justify-content-between route-link">
                Add
              </li>
              <li class="list-group-item justify-content-between route-link">
                Remove
              </li>
            </ul>
          </div>
      </div>
      <div class="card-explanation card-footer text-muted">
        Manage tickets and their due dates
      </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="text-center card-img-top">
          <object data="../../assets/settings/imgs/scrum.svg"
          class="responsive icon scrums"
          type="image/svg+xml">
          </object>
        </div>
        <div class="card-divider scrums"></div>
        <div class="card-block">
          <h4 class="card-title">Scrums</h4>
          <div class="card-text">
            <ul class="list-group">
              <li class="list-group-item justify-content-between route-link">
                View
                <span class="badge-custom badge badge-info
                badge-pill">3</span>
              </li>
              <li class="list-group-item justify-content-between route-link">
                Add
              </li>
              <li class="list-group-item justify-content-between route-link">
                Remove
              </li>
            </ul>
          </div>
      </div>
      <div class="card-explanation card-footer text-muted">
        Manage scrums and schedules
      </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="text-center card-img-top">
          <object data="../../assets/settings/imgs/groups-1.svg"
          class="responsive icon groups"
          type="image/svg+xml">
          </object>
        </div>
        <div class="card-divider groups"></div>
        <div class="card-block">
          <h4 class="card-title">Groups</h4>
          <div class="card-text">
            <ul class="list-group">
              <li class="list-group-item justify-content-between route-link" (click)="view('groups')">
                View
                <span class="badge-custom badge badge-info
                badge-pill">5</span>
              </li>
              <li class="list-group-item justify-content-between route-link">
                Add
              </li>
              <li class="list-group-item justify-content-between route-link">
                Remove
              </li>
            </ul>
          </div>
      </div>
      <div class="card-explanation card-footer text-muted">
        Manage user groups
      </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="text-center card-img-top">
          <object data="../../assets/settings/imgs/reports-3.svg"
          class="responsive icon reports"
          type="image/svg+xml">
          </object>
        </div>
        <div class="card-divider reports"></div>
        <div class="card-block">
          <h4 class="card-title">Reports</h4>
          <div class="card-text">
            <ul class="list-group">
              <li class="list-group-item justify-content-between route-link">
                View
                <span class="badge-custom badge badge-info
                badge-pill">134</span>
              </li>
              <li class="list-group-item justify-content-between route-link">
                Add
              </li>
              <li class="list-group-item justify-content-between route-link">
                Remove
              </li>
            </ul>
          </div>
      </div>
      <div class="card-explanation card-footer text-muted">
        Manage activity reports
      </div>
      </div>
    </div>
  </div>
</div>
</div>
