@import 'custom-colors';
@import 'flat-ui-colors';

input[type=checkbox] {
  cursor: pointer;
  margin-bottom: 35px;
  position: relative;
  visibility: hidden;

  &::after {
    background: $flat-pomegranate;
    border-radius: 4px;
    color: $flat-clouds;
    content: 'NO';
    cursor: pointer;
    display: block;
    font-size: 18px;
    font-weight: 600;
    height: 40px;
    line-height: 40px;
    position: absolute;
    text-align: center;
    visibility: visible;
    width: 60px;
  }

  &:checked::after {
    background: $flat-green-3;
    content: 'YES';
  }
}
