@import 'flat-ui-colors';
@import 'custom-colors';
@import '../node_modules/compass-mixins/lib/compass';

app-root {
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.hidden,
.hide {
// scss-lint:disable ImportantRule
  display: none !important;
// scss-lint:enable ImportantRule
}

.show {
  display: block;
}

.text-header {
  margin: 20px 0 0;
}

.disabled {
  cursor: not-allowed;
}

.full-width {
  width: 100%;
}

.clickable {
  cursor: pointer;
}

// jQuery chosen library styles overwrites
// scss-lint:disable QualifyingElement
// scss-lint:disable SelectorDepth
// scss-lint:disable NestingDepth
.chosen-container-multi .chosen-choices {
  background-image: none;
  border-color: $bootstrap-gray-border;

  li.search-field input[type="text"] {
    @include border-radius(5px);
    color: $flat-gray-2;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 14px;
    height: 35px;
  }

  li.search-choice {
    background-color: $bootstrap-blue;
    background-image: linear-gradient(
    $bootstrap-blue 20%, $bootstrap-blue 90%
    );
    border: 0;
    box-shadow: none;
    color: $flat-clouds;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 6px;
    padding: 6px 25px 6px 8px;

    .search-choice-close {
      background: none;

      &::before {
        color: $flat-clouds;
        content: '\F00D';
        font-family: 'FontAwesome';
        font-size: 12px;
      }
    }
 }

}

.chosen-container-active .chosen-choices {
  box-shadow: none;
}

.chosen-container .chosen-results li {
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 16px;

  &.highlighted {
    background-color: $bootstrap-blue;
    background-image: linear-gradient(
    $bootstrap-blue 20%, $bootstrap-blue 90%
    );
    color: $flat-clouds;
  }
}
// scss-lint:enable QualifyingElement
// scss-lint:enable SelectorDepth
// scss-lint:enable NestingDepth
