<!DOCTYPE html>
<html class="" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/favicon.ico">
</head>
<body>
<div class="container">

    <form action="/login_check" class="form-signin" method="post">

        {% if error %}
            <h2 class="form-signin-heading error">{{ error.messageKey|trans(error.messageData, 'security') }}</h2>
        {% else %}
            <h2 class="form-signin-heading default">Please sign in.</h2>
        {% endif %}

        <label for="username" class="sr-only">Username:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" placeholder="Username" required autofocus><br/>

        <label for="password" class="sr-only">Password:</label>
        <input type="password" id="password" name="_password" class="form-control" placeholder="Password" required><br/>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
    </form>
</div>
</body>
</html>